<?xml version="1.0" encoding="UTF-8" ?>

<suite name="我自己的测试套件">
    <test name="这是我的测试模块">
        <classes>
<!--            <class name="com.testcase.caseall.SuitConfig"></class>-->
            <class name="com.testcase.caseall.TestCaseDemo">
<!--                <methods>-->
<!--                    <include name="testcase01"/>-->
<!--                    <include name="testcase02"/>-->
<!--                    <include name="testcase03"/>-->
<!--                </methods>-->

            </class>
        </classes>


    </test>


    <listeners>
        <listener class-name ="com.extentsreport.base.ExtentTestNGIReporterListener"/>
    </listeners>
</suite>